:host {
  color: white;
  display: block;
  padding: 90px 25px 0;
  text-align: center;
}

h1 {
  font-size: 1.7rem;
  line-height: 1.4;
  margin-bottom: 20px;
}

.see {
  margin-bottom: 65px;
}

.try {
  align-items: center;
  background-color: var(--blue);
  border-radius: 10px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 90px;
  margin-bottom: 25px;
  padding-inline: 65px;
}

.try-it-free {
  font-weight: 600;
}


